@charset "UTF-8";

*{
box-sizing:border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.form-group{
    text-align: center;
    margin-bottom: 20px;
}
.form-group2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:chartreuse;
    color:black;
    border-radius: 5px;
    /*cursor: pointer; */
}

button:hover {
    background-color:chartreuse;
}

.nav{
	text-align: center;
}

.nav a{
	color:#f4f4f4;
}

@media only screen and (min-width: 800px){
.nav li{
	display: inline-block;
	padding: 50px 25px;
	font-size: 30px;
}
}

