@charset "UTF-8";

*{
box-sizing:border-box;
}


body{
    font-size:16px;
    line-height:1.5;
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",YuGOthic,"ヒラギノ角ゴ ProN W3","Hiragino kaku Gothic ProN",Arial,"メイリオ",Meiryo,sans-serif;
    color:rgb(0, 0, 0);
}


.header{
    background-color: cyan;
    text-align: center;
}

.main{
    background-color: chartreuse;
    display: flex;
}



.photo img{
    display: flex;
    width:450px;
    height:450px;
    display: flex;
}

.mozi{
    font-size: 50px;
    padding-left: 110px;
}

hr{
    border-top: 3px double #ccc;
}


.size_text{
    font-size: 50px;
}

.size_text2{
    font-size: 30px;
}


.box2{
    padding: 0.5em 0.5em;
    margin: 2em 2em;
    font-weight: bold;
    color:black;
    background: #FFF;
    border:solid 3px #6091d3;
    border-radius: 10px;
}

.box2 p{
    margin: 0;
    padding: 0;
}

