body{
    font-size:16px;
    line-height:1.5;
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",YuGOthic,"ヒラギノ角ゴ ProN W3","Hiragino kaku Gothic ProN",Arial,"メイリオ",Meiryo,sans-serif;
    color:rgb(0, 0, 0);
}

.h1{
    text-align: center;
}

.main{
    text-align: center;
}

.box2{
    text-align: center;
    width: 48%;
    padding: 0.5em 0.5em;
    margin: 2em auto;
    font-weight: bold;
    color:black;
    background: #FFF;
    border:solid 3px green;
    border-radius: 10px;
}

.box2 h2{
    margin: 0;
    padding: 0;
}

.nav{
	text-align: center;
}

.nav a{
	color: #f4f4f4;
}

@media only screen and (min-width: 800px){
.nav li{
	display: inline-block;
	padding: 50px 25px;
	font-size: 30px;
}
}

